.about-container{
  display: flex;
  flex-direction: column;
  width: 99vw;
  height: 90vh;
}

.about {
    padding-top: 50px;
    height: 100%;
    display: flex;
    flex-direction: row-reverse; 
    gap: 20px;
  }

  .about-image{
    flex: 1;
    padding-left: 50px;
  }

  .about-image img{
    width : 300px;
    height: 300px;
    border-radius: 50%;
  }
  
  .description{
    flex: 2;
    font-family: 'Montserrat', sans-serif;
    padding-top: 50px;
  }
  
  .description p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #f9f9f9;
    margin-bottom: 20px;
    width: 50%;
  }

  
  
  .description h3 {
    color: red;
    text-decoration: underline;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .description ul {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #f9f9f9;
  }
  
  .description li {
    margin-bottom: 10px;
  }

  .title{
    text-align: end;
    flex: 3;
  }
  .title h1{
    font-size: 100px;
    color: #f9f9f9;
    padding: 0;
  }

  @media (max-width: 768px) {
    .about-content {
      flex-direction: column;
      text-align: center;
    }
    .bio {
      text-align: center;
    }
  }