.portfolio {
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  width: 100vw;
  overflow-y:hidden;
  }

  .intro{
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .intro p{
    width: 100%;
    padding: 0;

  }
  .intro h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    text-align: center;
  }
  
  .portfolio-display{
    flex: 2;
    height: 80h;
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 30%;
    left: 0;
  }

 

