* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

body {
  background: linear-gradient(5deg, transparent, #000 100%),
    url('https://grainy-gradients.vercel.app/noise.svg');
  filter: contrast(130%) brightness(100%); 
  font-family: 'Montserrat', sans-serif;
  color: #f9f9f9;
  height: auto;
  display: flex;
  flex-direction: column;
}